header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 112px;
    z-index: 30;
    background: #fff;
}

.header_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 112px;
}

.header-content-wrapper {
    display: flex;
    align-items: center;
}

.login-field {
    display: flex;
    align-items: center; 
}
/* .login-problem {
    display: flex;
    justify-content: end;
    margin-top: 7px;
} */
nav {
    position: relative;
    width: 24px;
    height: 22px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 0 15px 20px;
}

nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #818181;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

nav span:nth-child(1) {
    top: 0px;
}

nav span:nth-child(2) {
    top: 8px;
}

nav span:nth-child(3) {
    top: 17px;
}

nav.nav_on span:nth-child(1) {
    top: 8px;
    transform: rotate(-45deg);
}

nav.nav_on span:nth-child(2) {
    opacity: 0;
    /*클릭하면 중간선이 사라집니다.*/
}

nav.nav_on span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
    width: 24px;
    left: 0;
}