.carousel-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
}

.menu-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
}

.quick ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0%;
}

.quick ul li {
    list-style-type: none;
}

.quick ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #a6a6a6;
    flex-direction: column;
}

.quick ul li a span {
    display: flex;
    width: 138px;
    height: 138px;
    background: #f8f8f8;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 22px;
    transition: all 0.3s;
}

.quick ul li a span img {
    transition: all 0.3s;
}

.quick ul li a:hover span img {
    transform: scale(1.1);
}

.hotel-title {
    margin: 0 !important;
}

.hotel-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
}

.hotel-name {
    margin-top: 10px;
}

.hotel-img-wrap {
    position: relative;
    margin-top: 3%;
}
.hotel-event {
    position: absolute;
    left: 20px;
    top: -20px;
    display: inline-block;
    width: 153px;
    height: 52px;
}

.banner-wrapper {
    margin-top: 7%;
    margin-bottom: 5%;
}
.banner-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner {
    display: flex;
    justify-content: center;
    position: relative;
}
.banner-img {
    width: 95%;
    /* position: initial; */
}
.banner-icon {
    width: 35%;
    right: 20px;
    top: -40px;
    position: absolute;
}

.news-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
}


.news-items > ul {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
}
.news-items>ul li {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.board-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
}

.faq-wrapper {
    width: 50%;
    padding-right: 2%;
}
.faq-wrapper>ul {
padding: 0 !important;
}

.notice-wrapper {
    width: 50%;
    padding-right: 2%;
}

.notice-wrapper>ul {
    padding: 0 !important;
}

.faq-item {
    border: 1px solid #ddd;
    margin: 0 0 16px;
    border-radius: 20px;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.faq-item>h4 {
 margin: 0 !important;
}

.notice-item {
    border: 1px solid #ddd;
    margin: 0 0 16px;
    border-radius: 20px;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.notice-item>h4 {
    margin: 0 !important;
}