/* 확인페이지 */
.ok {
    padding: 60px 0 0;
    text-align: center;
}

.ok h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 32px 0 15px;
}

a.backbtn {
    display: inline-block;
    height: 53px;
    line-height: 53px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s;
    border: 1px solid #ddd;
    padding: 0 60px;
    color: #bdbdbd;
}